### Missing Values and Deleting Data points



### Step 1. Import the necessary libraries numpy, pandas etc

In [118]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset *wine.txt* from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data) or from the folder

In [119]:
wine = pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",sep=",",header=None)

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

### Step 3. Assign it to a variable called wine

Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [120]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [123]:
wine.drop(wine.columns[[0,3,6,8,10,12,13]], axis=1 , inplace = True)
                       

wine.head()

IndexError: index 8 is out of bounds for axis 0 with size 7

In [124]:
wine.drop([0,3,6,8,10,12,13])
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [125]:
wine = wine.rename(columns= {1:'alcohol', 2:'malic_acid', 4:'alcalinity_of_ash', 5:'magnesium',7:'flavanoids',9:'proanthocyanins',11:'hue'})

In [126]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

### Step 6. Set the values of the first 3 values from alcohol column as NaN

In [127]:
wine.alcohol.iloc[:3] = np.nan


wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [128]:
wine.magnesium.iloc[4:5] = 'NaN'

wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [129]:
wine.alcohol.fillna(10 , inplace = True)

wine.magnesium.fillna(100 , inplace = True)

In [130]:
wine['alcohol'].replace(np.nan,10)
wine['magnesium'].replace(np.nan,100) 
 
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

In [131]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

### Step 9. Count the number of missing values in all columns.

In [132]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [133]:
len(wine) - wine.count()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [134]:
sum(wine['alcohol'].isnull())
sum(wine['malic_acid'].isnull())
sum(wine['alcalinity_of_ash'].isnull())
sum(wine['magnesium'].isnull())
sum(wine['flavanoids'].isnull())
sum(wine['proanthocyanins'].isnull())
sum(wine['hue'].isnull())

0

### Step 10.  Create an array of 10 random numbers up until 10 and save it.

In [135]:
random = np.random.randint(0,10,size=10)

In [136]:
random

array([8, 4, 8, 3, 9, 3, 6, 6, 3, 8])

In [137]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

### Step 11.  Set the rows corresponding to the random numbers to NaN in the column *alcohol*

In [138]:
import random


wine.alcohol.fillna(random.random(), inplace = True)

In [139]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04

### Step 12.  How many missing values do we have now?

In [140]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 14. Print only the non-null values in alcohol

In [141]:
wine.alcohol[wine.alcohol.notnull()]
print(wine['alcohol'])

0      10.00
1      10.00
2      10.00
3      14.37
4      10.00
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 178, dtype: float64

### Step 13. Delete the rows that contain missing values

In [142]:
wine= wine.dropna(axis=0,how='any')

In [143]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95,0.61,1.06,0.64
174,13.40,3.91,23.0,102,0.75,1.41,0.70
175,13.27,4.28,20.0,120,0.69,1.35,0.59
176,13.17,2.59,20.0,120,0.68,1.46,0.60
177,14.13,4.10,24.5,96,0.76,1.35,0.61

In [144]:
wine.dropna()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95,0.61,1.06,0.64
174,13.40,3.91,23.0,102,0.75,1.41,0.70
175,13.27,4.28,20.0,120,0.69,1.35,0.59
176,13.17,2.59,20.0,120,0.68,1.46,0.60
177,14.13,4.10,24.5,96,0.76,1.35,0.61

### Step 15.  Reset the index, so it starts with 0 again

In [145]:
wine = wine.reset_index(drop=True)

In [146]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127,3.06,2.29,1.04
1,10.00,1.78,11.2,100,2.76,1.28,1.05
2,10.00,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,10.00,2.59,21.0,NaN,2.69,1.82,1.04